* {
  margin:0;
  padding:0;
}
.wrapper {
  width: 100%;

}
.banner {
  display: none;
}

article.image-info {
  width:100%;
}

 h2.image-info{
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}
 p.image-info{
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: blue;
  line-height: 24px;
}
.me{
  width:100%;
}
nav{
  padding: 10px 30px 20px;
}
@media only screen and (min-width: 768px) {
  .banner {
    display: block;
    width:100%;
    padding-bottom: 30px;
    display:
  }

  .wrapper {
    width: 600px;
    margin: 0 auto;

  }

  h2.image-info{
   padding: 20px 0px 0px;
 }
  p.image-info{
   padding: 20px 0px 0px;
 }
 .me{
   padding-top: 10px;
 }
 nav{
   padding: 10px 30px 20px;
 }

 @media only screen and (min-width: 1000px) {
   .wrapper {
     width: 1000px;
   }
   article.image-info {
     width:50%;
     margin: 0 auto;
   }

   p.image-info{
    padding: 20px 0px 0px;
   }

   h2.image-info{
    padding: 20px 0px 0px;
  }
 .me{
  padding-top: 0px;
  width: 50%;
  display: block;
 margin-left: auto;
 margin-right: auto;
}
